<div class='panel panel-primary'>
  <h2 class="sportsListTitle">
      Lista de Deportes
  </h2>
<div class='table-responsive table-hover table-striped'>
      <table class='table'>
          <thead>
              <tr>
                  <th>Nombre</th>
                  <th>Participantes por encuentro</th>
              </tr>
          </thead>
          <tbody *ngIf='sports && sports.length; else noSports'>
              <tr *ngFor='let aSport of sports '>
                  <td>
                    <a href="#modifySport" [routerLink]="['/sports/', aSport.id ]">{{aSport.name | uppercase}}</a>
                  </td>
                  <td>{{aSport.amount}}</td>
              </tr>
          </tbody>
          <ng-template #noUsers>
              <tbody>
                  <tr>
                      <td>No hay usuarios para mostrar</td>
                  </tr>
              </tbody>
          </ng-template>
      </table>
  </div>

</div>