<div class="contentHeader">
    <div id="headerContainer">
        <div class="headerLogoContainer">
            <img class="headerLogo" src="assets/images/logo.png">
        </div>
        <div  class="headerOption dropdown">
            <div class="dropbtn">Deportes</div>
            <div class="dropdown-content">
                    <a *ngIf="isAdmin()" href="#" [routerLink]="['/sports/create']">Crear Deporte</a>
                    <a href="#" [routerLink]="['/sports']">Ver Deportes</a>
            </div>
        </div>
        <div class="headerOption dropdown">
            <div class="dropbtn">Competidores</div>
            <div class="dropdown-content">
                <a *ngIf="isAdmin()" href="#" [routerLink]="['/competitors/create']">Crear Nuevo</a>
                <a href="#" [routerLink]="['/competitors']">Ver Todos</a>
            </div>
        </div>
        <div class="headerOption dropdown">
            <div class="dropbtn">Partidos</div>
            <div class="dropdown-content">
                <a *ngIf="isAdmin()" href="#" [routerLink]="['/matches/create']">Crear Partido</a>
                <a href="#" [routerLink]="['/matches']">Ver Partidos</a>
                <a href="#" [routerLink]="['/fixtures']">Generar Fixtures</a>
            </div>
        </div>
        <div class="headerOption dropdown">
            <div class="dropbtn">Favoritos</div>
            <div class="dropdown-content">
                <a href="#" [routerLink]="['/']">Comentarios</a>
                <a href="#" [routerLink]="['/favourites']">Competidores</a>
            </div>
        </div>
        <div *ngIf="isAdmin()" class="headerOption dropdown">
            <div class="dropbtn">Usuarios</div>
            <div class="dropdown-content">
                <a href="#" [routerLink]="['/users/create']">Crear Usuario</a>
                <a href="#" [routerLink]="['/users']">Ver Usuarios</a>
                <a href="#" [routerLink]="['/log']">Ver Registros</a>
            </div>
        </div>
        <div class="headerOption">
            <a href="#" [routerLink]="['/']" (click)="logout()">Cerrar Sesión</a>
        </div>
    </div>
</div>