<div class="contentHeader">
    <div id="headerContainer">
        <div class="headerLogoContainer">
            <img class="headerLogo" src="assets/images/logo.png">
        </div>
        <div class="headerOption dropdown">
            <div class="dropbtn">Deportistas y Equipos</div>
            <div class="dropdown-content">
                <a href="#" [routerLink]="['/documents']">Mis documentos</a>
                <a href="#" [routerLink]="['/documents/top']">Top 3 documentos</a>
            </div>
        </div>
        <div class="headerOption dropdown">
            <div class="dropbtn">Favoritos</div>
            <div class="dropdown-content">
                <a href="#" [routerLink]="['/favourites']">Ver Favoritos</a>
                <a href="#" [routerLink]="['/addFriends']">Agregar amigos</a>
                <a href="#" [routerLink]="['/viewFriendRequests']">Ver Solicitudes</a>
            </div>
        </div>
        <div class="headerOption dropdown">
            <div class="dropbtn">Partidos</div>
            <div class="dropdown-content">
                <a href="#" [routerLink]="['/favourites']">Ver Favoritos</a>
                <a href="#" [routerLink]="['/addFriends']">Agregar amigos</a>
                <a href="#" [routerLink]="['/viewFriendRequests']">Ver Solicitudes</a>
            </div>
        </div>
        <div *ngIf="isAdmin()" class="headerOption dropdown">
            <div class="dropbtn">Usuarios</div>
            <div class="dropdown-content">
                <a href="#" [routerLink]="['/users/create']">Crear Usuario</a>
                <a href="#" [routerLink]="['/users']">Ver Usuarios</a>
            </div>
        </div>
        <div *ngIf="isAdmin()" class="headerOption dropdown">
            <div class="dropbtn">Deportes</div>
            <div class="dropdown-content">
                    <a href="#" [routerLink]="['/sports/create']">Crear Deporte</a>
                    <a href="#" [routerLink]="['/sports']">Ver Deportes</a>
            </div>
        </div>
        <div class="headerOption">
            <a href="#" [routerLink]="['/']" (click)="logout()">Cerrar Sesión</a>
        </div>
    </div>
</div>