<h1 class="modifyMatchTitle">Ver Partido</h1>

<form (ngSubmit)="modify()" class="modifyMatchContainer">
    <div class="form-group">
        <label for="Sport">
            Seleccione un deporte:
        </label>
        <select id="selectedSport" class="selectSport" name="Sport" disabled>
            <option selected>{{sportName}}</option>
        </select>
      </div>
    <div class="form-group">
        <label for="Competitor">
            Seleccione los participantes:
        </label>
        <div *ngFor="let competitor of competitors" class="form-group">
          <div>
            <select  id="competitor{{competitor}}" class="selectCompetitor{{competitor}}" [(ngModel)]="competitorScores[competitor].competitorId" name="comp{{competitor}}">
              <option *ngFor='let x of competitorsArray' value="{{x.id}}">{{x.name}}</option>
            </select>
            <label for="Date">
                Resultado:
            </label>
            <input type="number" class="form-control" [(ngModel)]="competitorScores[competitor.valueOf()].score" name="Score{{competitor}}">
          </div>
      </div>
    </div>
    <div class="form-group">
        <label for="Date">
            Eliga la fecha:
        </label>
        <input type="datetime-local" id="Date" class="form-control" [(ngModel)]="date" name="Date">
    </div>
    <button *ngIf="isAdmin()" type="submit" class="btn-default btn modifyButton">Modificar</button>
    <button *ngIf="isAdmin()" type="button" class="btn-default btn deleteButton" (click)="deleteMatch()">Eliminar</button>

    <h2 class="commentsListTitle">
           Comentarios
        </h2>
      <div class='table-responsive table-hover table-striped'>
            <table class='table'>
                <thead>
                    <tr>
                        <th>Usuario</th>
                        <th>Comentario</th>
                    </tr>
                </thead>
                <tbody *ngIf='comments && comments.length; else noComments'>
                    <tr *ngFor='let aComment of comments '>
                        <td>{{aComment.user.username }}</td>
                        <td>{{aComment.text }}</td>
                    </tr>
                </tbody>
                <ng-template #noComments>
                    <tbody>
                        <tr>
                            <td>No hay comentarios para mostrar</td>
                        </tr>
                    </tbody>
                </ng-template>
            </table>
        </div>

        <form (ngSubmit)="createComment()" class="createCommentContainer">
                <div class="form-group">
                    <label for="Comment">
                        Comentario:
                    </label>
                    <input type="text" id="Comment" class="form-control" [(ngModel)]="comment.text" name="Comment">
                </div>
                <button type="submit" class="btn-default btn createComment">COMENTAR</button>
            </form>
</form>