<div class='panel panel-primary'>
  <h2 class="competitorsListTitle">
      Lista de Competidores
  </h2>
<div class='table-responsive table-hover table-striped'>
        <div class="form-group filterContent">
            <label for="filter inline">
                Filtrar nombre:
            </label>
            <input class="form-control inline" width="100px" value="" [(ngModel)]="filter.filterName" name="filter">
            <div class="form-check inline">
                <label for="ascendingOrder" class="contain">  Ascendente
                    <input type="checkbox"  name="ascendingOrder" id="ascendingOrder" checked="checked" [(ngModel)]="filter.ascendingOrder"   ng-true-value="asc" ng-false-value="desc">
                    <span class="checkmark"></span>
                </label>
            </div>
            <button type="submit" class="btn-default btn inline" (click)="applyFilters()">Buscar</button>
        </div>
      <table class='table'>
          <thead>
              <tr>
                  <th>Id</th>
                  <th>Nombre</th>
                  <th>Imagen</th>
                  <th>Deporte</th>
                  <th>Favorito</th>
                  <th>Editar</th>
              </tr>
          </thead>
          <tbody *ngIf='competitors && competitors.length; else noCompetitors'>
              <tr *ngFor='let aCompetitor of competitors '>
                  <td>{{aCompetitor.id }}</td>
                  <td>{{aCompetitor.name | uppercase}}</td>
                  <td>
                    <img class="competitorImage" src="{{aCompetitor.picture}}"  />
                  </td>
                  <td>
                      <a href="#modifySport" [routerLink]="['/sports/modify/', aCompetitor.sport.id ]">{{aCompetitor.sport.name}}</a>
                  </td>
                  <td>
                      <button type="submit" class="btn-default btn createfavorite" (click)="createfavorite(aCompetitor.id)">AGREGAR FAVORITO</button>
                  </td>
                  <td>
                      <a  href="#modifyCompetitor" [routerLink]="['/competitors/modify/', aCompetitor.id ]">Editar deporte</a>
                  </td>
              </tr>
          </tbody>
          <ng-template #noUsers>
              <tbody>
                  <tr>
                      <td>No hay usuarios para mostrar</td>
                  </tr>
              </tbody>
          </ng-template>
      </table>
  </div>

</div>