<h1 class="modifySportTitle">Ver Deporte</h1>

<form (ngSubmit)="modify()" class="modifySportContainer">
    <div class="form-group">
        <label for="Name">
            Nombre:
        </label>
        <input type="text" id="Name" class="form-control" [(ngModel)]="data.Name" name="Name">
    </div>
    <div class="form-group">
        <label for="Amount">
            Participantes por encuentro:
        </label>
        <input type="number" id="Amount" class="form-control" [(ngModel)]="data.Amount" name="Amount" disabled>
    </div>
      <button *ngIf="isAdmin()" type="submit" class="btn-default btn modifyButton">Modificar</button>
      <button *ngIf="isAdmin()" type="button" class="btn-default btn deleteButton" (click)="deleteSport()">Eliminar</button>

      <app-list-ranking [competitors]="competitors"></app-list-ranking>
</form>