<h1 class="modifySportTitle">Modificar Deporte</h1>

<form (ngSubmit)="modify()" class="modifySportContainer">
    <div class="form-group">
        <label for="Name">
            Nombre:
        </label>
        <input type="text" id="Name" class="form-control" [(ngModel)]="data.Name" name="Name">
    </div>
    <div class="form-group">
        <label for="Amount">
            Participantes por encuentro:
        </label>
        <input type="number" id="Amount" class="form-control" [(ngModel)]="data.Amount" name="Amount" disabled>
    </div>
      <button type="submit" class="btn-default btn modifyButton">Modificar</button>
      <button type="button" class="btn-default btn deleteButton" (click)="deleteSport()">Eliminar</button>
</form>